@model GUIPagos_PSA.Models.Model_Notificacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Model_Notificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoNotificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoNotificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComentariosResolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentariosResolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificacionActiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificacionActiva)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotificacionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
